footer {
  color: $light-gray-1;
  background-color: $primary-color;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}