
.main {
  min-height: calc(100vh - 10rem - 10rem);
  background-color: $background-color;
}

.meal {
  cursor: pointer;
  transition: all 0.2s ease;
  max-width: 30rem;
  position: relative;

  &-title {
    background-color: #2e191e;
    padding: 10px; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
  }


  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
  }
}