@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@import './variables';
@import './navbar';
@import './seach-form';

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.main {
  min-height: calc(100vh - 10rem);
  background-color: $background-color;
}

.search-string {
  font-size: 1.7rem;
  color: white;
  font-weight: 400;
  text-align: center;
  padding-bottom: 4rem;
}


.search-results {
  color: white;
  font-size: 1.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.result-container {
  min-width: 30rem;
  max-width: 60%;
  margin: 0 auto;
}

.meal {
  cursor: pointer;
  transition: all 0.2s ease;
  max-width: 30rem;


  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
  }

  h3 {
    text-align: center;
    font-weight: 400;
    font-size: inherit;
  }
}